@media screen and (max-width: 768px) {
  /* CSS styles for screens smaller than 768px */
  /* Adjust styles to make content fit on smaller screens */
}


body {
  background-image: url("images/redwood.jpeg");
  /* background-repeat: repeat; */
  /* background-size: contain; */
  
}
@font-face {
  font-family: "RistrettoSlabPro-Regular";
  src: url("RistrettoSlabPro-Regular.otf");
}

body {

  font-family: RistrettoSlabPro-Regular;
  font-size: 100px;
}

h1 {
  font-family: RistrettoSlabPro-Regular;
  font-size:500px;
  color:#4e7665;
  font-weight: 500;
}
h2 {
  font-family: RistrettoSlabPro-Regular;
  font-size:500px;
  color:#4e7665;
  font-weight: 500;
}
legend {
  font-family: RistrettoSlabPro-Regular;
  font-style: italic;
  font-size: 500px;
  
}
tbody {
  font-family: RistrettoSlabPro-Regular;
  font-size: 25px;
  
}
content {
  position:fixed;
  bottom:50px;
  left: 50%; /* center on x direction */
  transform:translateX(-50%);
  width:60vw;
  height:50px;
}
.sticky-header {
  position: sticky;
  top: 0;
  background-color: white;  
  color: rgb(1, 1, 1); 
  z-index: 1000;
  opacity: 50%;
}
form  {
  
  position: relative;
  border: none;
  background-color: transparent;
  font-family: RistrettoSlabPro-Regular;
  font-size: 30px;
}
label {
  font-family: RistrettoSlabPro-Regular;
}
form input {
  background-color: white;
  font-family: RistrettoSlabPro-Regular;
  font-size: 30px;
  background-color: transparent;

}
#total {
  background-color: white;
  width:40px;
}
.boldCheckbox {
  font-weight: bold;
}
table {
  overflow:hidden;

  table-layout: fixed;
}
.form-control {
  overflow:hidden;

}


